torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0

triton
timm==1.0.22
einops

accelerate
bitsandbytes  
peft          

numpy<2.0.0
pandas
scikit-learn
opencv-python
tqdm

decord==0.6.0
insightface==0.7.3
onnxruntime-gpu==1.19.0
huggingface_hub